* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #F8F9FA;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

#sideBarSubBtn:hover {
    color: #2E2E2E !important;
}

/* table {
  display: table;
  height: 400px;
  overflow-y: scroll;
} */

.center {
    display: block;
    margin: 0 auto;
}
